openapi: 3.0.0
info:
  title: Cursor Teams Admin API
  description: |
    API for managing team accounts and administrative functions in Cursor.
    This API allows administrators to manage teams, team members, user accounts,
    and organizational settings within the Cursor platform.
  version: 1.0.0
  contact:
    name: Cursor Support
    url: https://cursor.com/support
    email: support@cursor.com
  license:
    name: Proprietary
    url: https://cursor.com/terms
servers:
  - url: https://api.cursor.com/v1
    description: Production server
  - url: https://staging-api.cursor.com/v1
    description: Staging server
security:
  - BearerAuth: []
paths:
  /teams:
    get:
      summary: List all teams
      description: Retrieve a paginated list of all teams in the organization
      operationId: listTeams
      parameters:
        - name: limit
          in: query
          description: Maximum number of teams to return
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Number of teams to skip
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: search
          in: query
          description: Search term to filter teams by name
          required: false
          schema:
            type: string
            maxLength: 100
      responses:
        '200':
          description: A paginated list of teams
          content:
            application/json:
              schema:
                type: object
                properties:
                  teams:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              examples:
                success:
                  summary: Successful response with teams
                  value:
                    teams:
                      - id: "team_123"
                        name: "Engineering Team"
                        description: "Main engineering team"
                        member_count: 15
                        created_at: "2023-01-15T10:30:00Z"
                        updated_at: "2023-06-20T14:45:00Z"
                        status: "active"
                    pagination:
                      limit: 20
                      offset: 0
                      total: 1
                      has_more: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create a new team
      description: Create a new team in the organization
      operationId: createTeam
      requestBody:
        description: Team object that needs to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeamRequest'
            examples:
              create_team:
                summary: Create a new engineering team
                value:
                  name: "Data Science Team"
                  description: "Team focused on data science and machine learning"
      responses:
        '201':
          description: Team created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
              examples:
                created:
                  summary: Successfully created team
                  value:
                    id: "team_456"
                    name: "Data Science Team"
                    description: "Team focused on data science and machine learning"
                    member_count: 0
                    created_at: "2023-12-01T10:30:00Z"
                    updated_at: "2023-12-01T10:30:00Z"
                    status: "active"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Team with this name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /teams/{teamId}:
    get:
      summary: Get team details
      description: Retrieve detailed information about a specific team
      operationId: getTeam
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          description: Team details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update team
      description: Update the details of an existing team
      operationId: updateTeam
      parameters:
        - $ref: '#/components/parameters/TeamId'
      requestBody:
        description: Updated team information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamRequest'
      responses:
        '200':
          description: Team updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Team name conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete team
      description: Delete a team from the organization
      operationId: deleteTeam
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '204':
          description: Team deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Cannot delete team with active members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /teams/{teamId}/members:
    get:
      summary: List team members
      description: Retrieve a list of all members in a specific team
      operationId: listTeamMembers
      parameters:
        - $ref: '#/components/parameters/TeamId'
        - name: limit
          in: query
          description: Maximum number of members to return
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Number of members to skip
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: role
          in: query
          description: Filter members by role
          required: false
          schema:
            type: string
            enum: [admin, member, viewer]
      responses:
        '200':
          description: List of team members
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/TeamMember'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Add team member
      description: Add a new member to the team
      operationId: addTeamMember
      parameters:
        - $ref: '#/components/parameters/TeamId'
      requestBody:
        description: Member information to add to the team
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTeamMemberRequest'
      responses:
        '201':
          description: Member added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: User is already a member of this team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /teams/{teamId}/members/{userId}:
    get:
      summary: Get team member details
      description: Retrieve details of a specific team member
      operationId: getTeamMember
      parameters:
        - $ref: '#/components/parameters/TeamId'
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Team member details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMember'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update team member role
      description: Update the role of a team member
      operationId: updateTeamMember
      parameters:
        - $ref: '#/components/parameters/TeamId'
        - $ref: '#/components/parameters/UserId'
      requestBody:
        description: Updated member information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamMemberRequest'
      responses:
        '200':
          description: Member role updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Remove team member
      description: Remove a member from the team
      operationId: removeTeamMember
      parameters:
        - $ref: '#/components/parameters/TeamId'
        - $ref: '#/components/parameters/UserId'
      responses:
        '204':
          description: Member removed successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users:
    get:
      summary: List users
      description: Retrieve a paginated list of all users in the organization
      operationId: listUsers
      parameters:
        - name: limit
          in: query
          description: Maximum number of users to return
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Number of users to skip
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: search
          in: query
          description: Search term to filter users by name or email
          required: false
          schema:
            type: string
            maxLength: 100
        - name: status
          in: query
          description: Filter users by status
          required: false
          schema:
            type: string
            enum: [active, inactive, pending]
      responses:
        '200':
          description: A paginated list of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create user
      description: Create a new user account
      operationId: createUser
      requestBody:
        description: User information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: User with this email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users/{userId}:
    get:
      summary: Get user details
      description: Retrieve detailed information about a specific user
      operationId: getUser
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update user
      description: Update user information
      operationId: updateUser
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        description: Updated user information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete user
      description: Delete a user account
      operationId: deleteUser
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '204':
          description: User deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Cannot delete user with active team memberships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /organizations/settings:
    get:
      summary: Get organization settings
      description: Retrieve organization-wide settings
      operationId: getOrganizationSettings
      responses:
        '200':
          description: Organization settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update organization settings
      description: Update organization-wide settings
      operationId: updateOrganizationSettings
      requestBody:
        description: Updated organization settings
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationSettingsRequest'
      responses:
        '200':
          description: Settings updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT token obtained from the authentication endpoint.
        Include it in the Authorization header as: `Authorization: Bearer <token>`

  parameters:
    TeamId:
      name: teamId
      in: path
      required: true
      description: Unique identifier of the team
      schema:
        type: string
        pattern: '^team_[a-zA-Z0-9]+$'
      example: "team_123"
    UserId:
      name: userId
      in: path
      required: true
      description: Unique identifier of the user
      schema:
        type: string
        pattern: '^user_[a-zA-Z0-9]+$'
      example: "user_456"

  responses:
    BadRequest:
      description: Bad request - invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            validation_error:
              summary: Validation error
              value:
                error: "validation_failed"
                message: "Invalid input data"
                details:
                  - field: "name"
                    message: "Name is required"
    Unauthorized:
      description: Unauthorized - invalid or missing authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            missing_token:
              summary: Missing authentication token
              value:
                error: "unauthorized"
                message: "Authentication token is required"
    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            insufficient_permissions:
              summary: Insufficient permissions
              value:
                error: "forbidden"
                message: "Insufficient permissions to perform this action"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            resource_not_found:
              summary: Resource not found
              value:
                error: "not_found"
                message: "The requested resource was not found"
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            server_error:
              summary: Internal server error
              value:
                error: "internal_error"
                message: "An unexpected error occurred"

  schemas:
    Team:
      type: object
      required:
        - id
        - name
        - member_count
        - created_at
        - updated_at
        - status
      properties:
        id:
          type: string
          description: Unique identifier for the team
          pattern: '^team_[a-zA-Z0-9]+$'
          example: "team_123"
        name:
          type: string
          description: Name of the team
          minLength: 1
          maxLength: 100
          example: "Engineering Team"
        description:
          type: string
          description: Description of the team
          maxLength: 500
          example: "Main engineering team responsible for product development"
        member_count:
          type: integer
          description: Number of members in the team
          minimum: 0
          example: 15
        created_at:
          type: string
          format: date-time
          description: Timestamp when the team was created
          example: "2023-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the team was last updated
          example: "2023-06-20T14:45:00Z"
        status:
          type: string
          enum: [active, inactive]
          description: Status of the team
          example: "active"

    TeamDetails:
      allOf:
        - $ref: '#/components/schemas/Team'
        - type: object
          properties:
            members:
              type: array
              description: List of team members
              items:
                $ref: '#/components/schemas/TeamMember'
            settings:
              type: object
              description: Team-specific settings
              properties:
                allow_external_invites:
                  type: boolean
                  description: Whether external users can be invited
                  example: false
                default_role:
                  type: string
                  enum: [admin, member, viewer]
                  description: Default role for new members
                  example: "member"

    CreateTeamRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Name of the team
          minLength: 1
          maxLength: 100
          example: "Data Science Team"
        description:
          type: string
          description: Description of the team
          maxLength: 500
          example: "Team focused on data science and machine learning"

    UpdateTeamRequest:
      type: object
      properties:
        name:
          type: string
          description: Updated name of the team
          minLength: 1
          maxLength: 100
          example: "Updated Engineering Team"
        description:
          type: string
          description: Updated description of the team
          maxLength: 500
          example: "Updated team description"

    User:
      type: object
      required:
        - id
        - email
        - name
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: string
          description: Unique identifier for the user
          pattern: '^user_[a-zA-Z0-9]+$'
          example: "user_456"
        email:
          type: string
          format: email
          description: Email address of the user
          example: "john.doe@example.com"
        name:
          type: string
          description: Full name of the user
          minLength: 1
          maxLength: 100
          example: "John Doe"
        avatar_url:
          type: string
          format: uri
          description: URL to the user's avatar image
          example: "https://example.com/avatars/user_456.jpg"
        status:
          type: string
          enum: [active, inactive, pending]
          description: Status of the user account
          example: "active"
        created_at:
          type: string
          format: date-time
          description: Timestamp when the user was created
          example: "2023-01-10T09:15:00Z"
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the user was last updated
          example: "2023-06-15T11:30:00Z"

    UserDetails:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            teams:
              type: array
              description: List of teams the user belongs to
              items:
                type: object
                properties:
                  team_id:
                    type: string
                    example: "team_123"
                  team_name:
                    type: string
                    example: "Engineering Team"
                  role:
                    type: string
                    enum: [admin, member, viewer]
                    example: "member"
                  joined_at:
                    type: string
                    format: date-time
                    example: "2023-02-01T10:00:00Z"
            last_login:
              type: string
              format: date-time
              description: Timestamp of the user's last login
              example: "2023-12-01T08:45:00Z"

    CreateUserRequest:
      type: object
      required:
        - email
        - name
      properties:
        email:
          type: string
          format: email
          description: Email address of the user
          example: "jane.smith@example.com"
        name:
          type: string
          description: Full name of the user
          minLength: 1
          maxLength: 100
          example: "Jane Smith"
        send_invitation:
          type: boolean
          description: Whether to send an invitation email to the user
          default: true
          example: true

    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
          description: Updated full name of the user
          minLength: 1
          maxLength: 100
          example: "Jane Smith Updated"
        status:
          type: string
          enum: [active, inactive]
          description: Updated status of the user
          example: "active"

    TeamMember:
      type: object
      required:
        - user_id
        - email
        - name
        - role
        - joined_at
      properties:
        user_id:
          type: string
          description: Unique identifier for the user
          pattern: '^user_[a-zA-Z0-9]+$'
          example: "user_789"
        email:
          type: string
          format: email
          description: Email address of the member
          example: "member@example.com"
        name:
          type: string
          description: Full name of the member
          example: "Alice Johnson"
        avatar_url:
          type: string
          format: uri
          description: URL to the member's avatar image
          example: "https://example.com/avatars/user_789.jpg"
        role:
          type: string
          enum: [admin, member, viewer]
          description: Role of the member within the team
          example: "member"
        joined_at:
          type: string
          format: date-time
          description: Timestamp when the member joined the team
          example: "2023-03-01T12:00:00Z"
        status:
          type: string
          enum: [active, inactive, pending]
          description: Status of the member
          example: "active"

    AddTeamMemberRequest:
      type: object
      required:
        - user_id
        - role
      properties:
        user_id:
          type: string
          description: ID of the user to add to the team
          pattern: '^user_[a-zA-Z0-9]+$'
          example: "user_789"
        role:
          type: string
          enum: [admin, member, viewer]
          description: Role to assign to the new member
          default: "member"
          example: "member"

    UpdateTeamMemberRequest:
      type: object
      required:
        - role
      properties:
        role:
          type: string
          enum: [admin, member, viewer]
          description: Updated role for the team member
          example: "admin"

    OrganizationSettings:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          description: Unique identifier for the organization
          example: "org_123"
        name:
          type: string
          description: Name of the organization
          example: "Acme Corporation"
        domain:
          type: string
          description: Domain associated with the organization
          example: "acme.com"
        allow_external_members:
          type: boolean
          description: Whether external users can be added as members
          default: false
          example: false
        require_2fa:
          type: boolean
          description: Whether two-factor authentication is required
          default: false
          example: true
        session_timeout:
          type: integer
          description: Session timeout in minutes
          minimum: 30
          maximum: 1440
          default: 480
          example: 480
        created_at:
          type: string
          format: date-time
          description: Timestamp when the organization was created
          example: "2023-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the organization was last updated
          example: "2023-06-01T10:30:00Z"

    UpdateOrganizationSettingsRequest:
      type: object
      properties:
        name:
          type: string
          description: Updated name of the organization
          minLength: 1
          maxLength: 100
          example: "Acme Corporation Inc."
        allow_external_members:
          type: boolean
          description: Whether external users can be added as members
          example: true
        require_2fa:
          type: boolean
          description: Whether two-factor authentication is required
          example: false
        session_timeout:
          type: integer
          description: Session timeout in minutes
          minimum: 30
          maximum: 1440
          example: 720

    Pagination:
      type: object
      required:
        - limit
        - offset
        - total
        - has_more
      properties:
        limit:
          type: integer
          description: Number of items requested
          example: 20
        offset:
          type: integer
          description: Number of items skipped
          example: 0
        total:
          type: integer
          description: Total number of items available
          example: 150
        has_more:
          type: boolean
          description: Whether there are more items available
          example: true

    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Error code
          example: "validation_failed"
        message:
          type: string
          description: Human-readable error message
          example: "The request data is invalid"
        details:
          type: array
          description: Additional error details
          items:
            type: object
            properties:
              field:
                type: string
                description: Field that caused the error
                example: "email"
              message:
                type: string
                description: Specific error message for the field
                example: "Email format is invalid"
        request_id:
          type: string
          description: Unique identifier for the request (for debugging)
          example: "req_abc123"

tags:
  - name: Teams
    description: Operations related to team management
  - name: Team Members
    description: Operations related to team member management
  - name: Users
    description: Operations related to user management
  - name: Organization
    description: Operations related to organization settings